/*google fonts*/
body {
	font-family: 'Open sans', sans-serif;
}
/* CSS Reset */
/*
to set the default margin and padding into 0

-box-sizing property defines how the width and height of an element
are calculated
-this will allow us to control measurements of elements better
-border-box value includes padding and border properties of
an element to the total height and width in its computation

*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
/*short hand for
padding-top:0.8rem
padding-bottom:0.8rem
padding-right:0.8rem
padding-left:0.8rem	*/
/*
rem stands for root element measurement - default is 16px
0.8 rem = 12.8px padding of all sides of the nav
*/
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and it's content.*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
/* changes elements to inline elements	*/
	display: inline;
}

#intro {
/*	
for padding and margin only
padding-top: 2rem
padding-right: 10%
padding-left: 10%
padding-bottom: 3rem
*/
/*x% - takes x% of the parent element's height/width
since body tag is the parent element, we will take 10% of
its width, which is 10% of the full-page width, and set 
it as padding for the left and right side of the #intro section	*/
	padding: 2rem 10% 3rem;
/*
padding: 2 rem 10% 3rem 5rem
padding-top: 2rem
padding-left: 10%
padding-bottom: 3rem
padding-right: 5 rem
*/
/*
padding: 2rem 10%
padding-top: 2rem y axis
padding-left 10%
padding-bottom: 2rem x axis
10%
padding-right: 10%
*/
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
/*inline block - allows the cards to appear beside
each other	*/
/*the elements are inline to their sibling elements but behave
as block elements outside their parent element*/
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.5rem;
}
footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding: 2rem;
	background-color: #002540;
	color: whitesmoke;
}

#pre-footer .prefooter {
	display: inline-block;
	vertical-align: top;
	min-height: 100px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer h3 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}

#pre-footer p {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

